/* body { 
    background-color: ;
} */

* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
} 

body { 
    /* background-color: rgb(177, 172, 172); */
    background-color: lightgrey;;
}

.header-container { 
  background-color: black;
  text-align: center;
  height: 12vh;
  gap: 1em; 

} 

.h1-header-styles { 
    color: white; 
    font-size: 2.8rem;
    font-weight: bold;
}

.search-bar-elements-container { 
    display: flex;
    justify-content: flex-end;
    gap: 1em; 
    
} 

.search-bar-elements-container > input { 
    font-size: 1rem;
} 

.search-bar-elements-container > button { 
    font-size: 1rem;
    background-color: white;
    color: black; 
    border: 2px solid black;
    font-weight: bold;
} 

#current-weather-data > h3{ 
    font-size: 2rem;
    text-decoration: underline;
}  

#current-weather-data { 
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#current-weather-container { 
    display: flex;
    justify-content: center;
    height: 35vh;
    margin-top: 2em;
    /* height: 285px;
    width: 285px; */
    background-color: rgb(177, 172, 172);
} 

#forecast-3-day-title { 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0.5em;
}


#forecast-day-1-card, 
#forecast-day-2-card, 
#forecast-day-3-card { 
    /* width: 250px; 
    height: 250px; */
    height: 35vh;
    width: 20vw;
    background-color: rgb(177, 172, 172);
    border-radius: 10%;
    text-align: center;
} 

#forecast-days-container { 
    display: flex;
    justify-content: center;
    gap: 2em; 
    margin-top: 0.5em;
}


/* #forecast-container { 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;

} */

